.container {
  display: grid;
  grid-template-rows: 12rem minmax(25rem, 1fr) 8rem minmax(min-content, .8fr) minmax(min-content, .8fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4rem;

  @media screen and (max-width: $bp-medium) {
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 10vh 10vh repeat(2, 35vh) 10vh repeat(4, 25vh);
  }
}

.header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  color: $White-Text;
  font-size: 2rem;

  @media screen and (max-width: $bp-medium) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  &-p {
    font-size: 1.6rem;
    color: $Desaturated-Blue-Text;
  }
}

.theme-selector {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  font-size: 2rem;
  color: $Desaturated-Blue-Text;
  align-self: center;
  justify-self: center;

  @media screen and (max-width: $bp-medium) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.part-2 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  align-self: center;
  font-size: 2.5rem;
  color: $Desaturated-Blue-Text;

  @media screen and (max-width: $bp-medium) {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }
}

.light-mode {
  background-image: linear-gradient(180deg,
                                    $Very-Pale-Blue-Top-BG-Pattern 0%,
                                    $Very-Pale-Blue-Top-BG-Pattern 25%,
                                    $White-BG 25%);
  color: $Very-Dark-Blue-Text;
}

#button {
  width: 4rem;
  height: 2rem;
  background-color: lightblue;
  border-radius: 4rem;
  position: absolute;
  top: 11rem;
  right: 20rem;
}

#innerButton {
  width: 2.2rem;
  height: 2rem;
  background-color: blue;
  display: inline-block;
  border-radius: 20rem;
  position: relative; 
  // left: 0rem;
}

.innerButton {
  left: 2rem;
}

.name {
  font-size: 2rem;
}